* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #F7F5FF;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    cursor: pointer;
}

/** HEADER **/

header {
    position: fixed;
    top: 0;
    height: 125px;
}

/* Navbar */
nav {
    display: inline-grid;
    grid-template: 100px / 2fr 2fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    background-color: #169FED;
    height: 100px;
    width: 100vw;
}

.logo {
    width: 150px;
}

.connectedUser {
    grid-area: 1 / 1 / 1 / 1;
    display: inline-grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    justify-items: start;
    align-items: start;
    padding: 10px;
    column-gap: 10px;
    width: 500px;
}

.shortcutMenu {
    grid-area: 1 / 2 / 1 / 2;
    display: inline-grid;
    grid-template: 1fr / 1fr;
    justify-items: center;
    align-items: center;
}

.scMenuItems {
    display: inline-grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    list-style: none;
    padding-inline-start: 0px;
}

.scMenuItem {
    padding: 15px;
    background-color: #4D87CB;
}

i {
    color: white;
}

.kiosksManagement {
    grid-area: 1 / 3 / 1 / 3;
    display: inline-grid;
    grid-template: 1fr / 1fr 3fr;
    justify-items: start;
    align-items: start;
    padding-left: 5px;
}

.kiosksManagement .logo {
    height: 90%;
    padding: 5% 0;
    width: auto;
}

.nav-text {
    color: white;
    margin-block-start: 0px;
    margin-block-end: 5px;
    margin-bottom: 2px;
}

.userName {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
}

.status {
    font-size: small;
}

.machine {
    font-weight: bold;
}

.machines-number {
    background-color: white;
    padding: 10px;
    font-weight: bold;
}
/* End Navbar */

/* Breadcrumb */
.breadcrumb {
    display: flex;
    background: #4D4848;
    align-items: center;
    height: 25px;
    width: 100vw;
}

.breadcrumb i {
    padding: 1em;
}
/* End Breadcrumb */

/** END HEADER **/


/** MENU **/
.menu {
    position: fixed;
    top: 125px;
    left: 0px;
    width: 50px;
    background: #4D4848;
    height: 100vh;
}

.menu ul {
    margin-top: 0;
    padding: 0;
}

.menu li {
    list-style: none;
    padding: 10px 17px;
    margin: 1px 0;
    background-color: #70708D;
}

.menu .menuButton {
    padding: 16px 17px;
    background-color: #4A3B3B;
}

.menu .menuButton i {
    font-size: large;
}

#mouse {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    padding: 2px 18px;
    background-color: #4A3B3B;
}

.menu .sign-out {
    background: #4D4848;
    position: absolute;
    bottom: 5px;
}

/** END MENU **/


/** CONTAINER **/

/* Background */
.background {
    background-color: #F7F5FF;
    margin: 150px 50px 0 100px;
    height: 100vh;
}
/* End Background */

/* Add user */
.background .addUser {
    margin-bottom: 20px;
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
}

.background .addUser i {
    border: 1px solid #169FED;
    border-radius: 25px;
    background-color: #169FED;
    padding: 10px;
}

/* Box */
.box {
    background-color: white;
    border: 0.02em solid;
    border-color: #E1D6D6;
    padding: 20px;
}

/* BoxHeader */
.boxHeader {
    display: flex;
    justify-content: space-between;
}

.boxHeader p {
    color: #169FED;
    font-weight: 600;
    font-size: medium;
}

/* Form */ 
input, select {
    border: 1px solid #E1D6D6;
    border-radius: 4px;
    padding: 5px 10px;
    width: 200px;
}

:focus-visible {
outline: #169FED auto 1px;
}

:focus {
    outline: #169FED auto 1px;
}

input[type=text]:focus-visible {
border: 2px solid #169FED;
}

.boxHeader button {
    background-color: #4A3B3B;
    padding: 5px 7px;
    border-color: #4A3B3B;
    border-radius: 4px;
}

.boxHeader button:hover {
    background-color: #169FED;
    border-color: #169FED;
    cursor: pointer;
}
/* End Form */

/* Buttons */
.boxHeader .fas {
    margin: 0 5px;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

.boxHeader .fa-check {
    background-color: #7ABE81;
}

.boxHeader .fa-times {
    background-color: #DF6161;
    padding: 7px 10px;
}

.boxHeader .fa-search {
    padding: 0px;
}

/* End BoxHeader */

/* UserList */
.userList-wrapper {
    margin: 20px auto;
    overflow: hidden;
    overflow-y: scroll;
    height: 50vh;
}

.userList {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.userList thead {
    background-color: #EBF5F9;
    padding: 10px;
}

.userList thead th {
    top: 0;
    z-index: 2;
    position: sticky;
    background-color: #EBF5F9;
}

.userList tr {
    border-bottom: 0.02em solid #E1D6D6;
}

.userList td {
    padding: 10px;
}

.userList th {
    padding: 10px;
    color: #70708D;
}

.userList .actions i {
    color: #169FED;
    margin: 5px;
    font-size: large;
}

/* .userList .actions {
    border-left: 0.02em solid #E1D6D6;
} */

/* End Box */


/* FORMS */
.userForm {
    display: flex;
    flex-flow: row;
}

.userForm .form-column {
    padding: 20px;
}

.userForm .form-column:not(:last-child) {
    border-right: 1px solid lightgrey;
}

.userForm label {
    display: inline-block;
    width: 120px;
    font-weight: 600;
}

.userForm input, .userForm select {
    margin: 10px;
    width: 150px;
}
/* END FORMS */